conda-pack==0.6.0
fastapi~=0.77.1
fastapi-utils~=0.2.1
numpy>=1.13
scikit_learn>=0.20.0
setuptools==58.0.4
tqdm==4.62.3
pydantic==1.9.1
python-multipart==0.0.5
pyyaml~=6.0
docker~=5.0.3
requests~=2.26.0
pillow>=9.0.1
uvicorn==0.17.0
opencv-python==4.5.5.64
jina